apiVersion: v1
kind: Secret
metadata:
  name: grafana-creds
  namespace: crossplane
type: Opaque
stringData:
  credentials: |
    {
      "url": "https://example.com/grafana",
      "auth": "user:password"
    }
